{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Login" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<form action="{% url 'core:user:login' %}{% if next %}?next={{next}}{% endif %}"
      method="post"
      class="form-horizontal">
    {% trans 'Login' as submit_text %}
    {% render_form_fields form submit_text %}
</form>
<div class="social-login">
<h6>-- OR --</h6>
<a href="{% url 'social:begin' 'facebook' %}" class="fa fa-facebook"></a>
<a href="{% url 'social:begin' 'twitter' %}" class="fa fa-twitter"></a>
<a href="{% url 'social:begin' 'google-oauth2' %}" class="fa fa-google"></a>
</div>
{% endblock %}
{% block sidebar %}
<h4>{% trans "No account?" %}</h4>
<p>
    <a href="{% url 'core:user:registration' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'sign-in' %}"></span>
        {% trans "Register" %}
    </a>
</p>

<h4>{% trans "Forgot password?" %}</h4>
<p>
    <a href="{% url 'core:user:password_reset' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'key' %}"></span>
        {% trans "Reset password" %}
    </a>
</p>
{% endblock %}
