{% extends "base_features.html" %}
{% load i18n staticfiles wger_extras %}

{#           #}
{# Opengraph #}
{#           #}
{% block opengraph %}
    {{ block.super }}
    <meta property="og:title" content="{% trans 'Features' %} - wger">

    {% with username=owner_user.username %}
        <meta property="og:description" content="{% blocktrans %}wger Workout Manager is a free, open source web application that manages your exercises and workouts. {% endblocktrans %}">
    {% endwith %}
{% endblock %}


{#         #}
{# Content #}
{#         #}
{% block content %}
    <header>
        <div class="container">
            {% if not user.is_authenticated or user.userprofile.is_temporary %}
                {% if allow_registration %}
                    <a href="{% url 'core:user:registration' %}" class="page-scroll btn btn-xl">
                        {% trans "Register" %}
                    </a>
                {% endif %}

                <a href="{% url 'core:user:login' %}" class="page-scroll btn btn-xl">
                    {% trans "Login" %}
                </a>
            {% endif %}
            {% if allow_guest_users and not user.is_authenticated %}
                <a href="{% url 'core:user:demo-entries' %}" class="page-scroll btn btn-xl" rel="nofollow">
                    {% trans "Try it now" %}
                </a>
            {% endif %}
            <div class="intro-text">
                <div class="intro-heading">{% trans "Welcome to wger" %}</div>
                <div class="container-fluid">            
                    <!-- Carousel container -->
                    <div id="slides" class="carousel slide" data-ride="carousel" >
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#slides" data-slide-to="0" class="active"></li>
                        <li data-target="#slides" data-slide-to="1"></li>
                        <li data-target="#slides" data-slide-to="2"></li>
                    </ol>

                    <!-- Content -->
                    <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <div class="item active">
                        {% include 'slide-one.html' %}
                    </div>

                    <!-- Slide 2 -->
                    <div class="item">
                        {% include 'slide-two.html' %}
                    </div>

                    <!-- Slide 3 -->
                    <div class="item">
                        {% include 'slide-three.html' %}
                    </div>

                    </div>

                    <!-- Previous/Next controls -->
                    <a class="left carousel-control" href="#slides" role="button" data-slide="prev">
                        <span class="icon-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#slides" role="button" data-slide="next">
                        <span class="icon-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                    </div>

                </div>
            </div>
        </div>
    </header>
<script>
// Initialize tooltip component
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

// Initialize popover component
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
{% endblock %}
